<div class="user-items-info-compact">

    <!-- Info principale -->
    <div class="user-items-info">
        <span class="market-price">
            {{ userItemsCount }}
        </span>

        <span class="market-date">
            exemplaire(s) dans ma collection 
        </span>
    </div>

    <!-- Actions -->
    <div class="user-items-actions">

    <button
        mat-icon-button
        class="medium-icon-button"
        matTooltip="Voir ma collection"
        [routerLink]="['/items', item.id, 'user-items']">
        <mat-icon>collections</mat-icon>
    </button>

  </div>

</div>
