.user-items-info-compact {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0px 8px;
  border-radius: 20px;

  background-color: #edf7ef;;
}

.user-items-info {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 0.85rem;
}

.market-price {
  font-weight: 600;
  color: #0f172a;
}

.market-date {
  font-size: 0.75rem;
  color: #64748b;
}

.user-items-actions {
  display: flex;
  gap: 2px;
}
