/* INFO BADGES */
.item-info {
  flex-direction: column;
}

.item-info-line.first-line {
  justify-content: space-between;
}

.item-info-line.second-line {
  justify-content: space-between;
}

.item-info-line.third-line {
  justify-content: flex-start;
}

.item-info .badge {
  font-size: 0.9rem;
}

.item-info-line .game {
  font-size: 1.2rem;
}

.item-info-line .expansion {
  font-size: 1.0rem;
}

.item-info-line .locale {
  font-size: 0.8rem;
}
