<app-business-object-dialog-shell
  [form]="form"
  [submit]="submit.bind(this)"
  [cancel]="cancel.bind(this)">

  
  <div dialog-title class="dialog-title">
    <h2 mat-dialog-title>Modifier cet item</h2>
  </div>
  
  <div class="dialog-form" [formGroup]="form">

    <div class="purchased form-group-title">      
      <mat-icon>{{ UserItemStatusConfig[UserItemStatus.PURCHASED].icon }}</mat-icon>
      <span>Achat</span>
    </div>
    <ng-container formGroupName="purchase">
      
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Prix</mat-label>
          <input matInput type="number" formControlName="price">
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
  
      <mat-form-field appearance="outline">
        <mat-label>Commentaire</mat-label>
        <textarea matInput rows="2" formControlName="comment"></textarea>
      </mat-form-field>

    </ng-container>

    @if (isSold) {
      <div class="sold form-group-title">      
        <mat-icon>{{ UserItemStatusConfig[UserItemStatus.SOLD].icon }}</mat-icon>
        <span>Vente</span>
      </div>
      <ng-container formGroupName="sellingOrOpening">

        <div class="form-row">
          <mat-form-field appearance="outline">
            <mat-label>Prix</mat-label>
            <input matInput type="number" formControlName="price">
          </mat-form-field>
    
          <mat-form-field appearance="outline">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
    
        <mat-form-field appearance="outline">
          <mat-label>Commentaire</mat-label>
          <textarea matInput rows="2" formControlName="comment"></textarea>
        </mat-form-field>

      </ng-container>
    }

    @if (isOpened) {
      <div class="opened form-group-title">      
        <mat-icon>{{ UserItemStatusConfig[UserItemStatus.OPENED].icon }}</mat-icon>
        <span>Ouverture</span>
      </div>
      <ng-container formGroupName="sellingOrOpening">
    
        <mat-form-field appearance="outline">
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    
        <mat-form-field appearance="outline">
          <mat-label>Commentaire</mat-label>
          <textarea matInput rows="2" formControlName="comment"></textarea>
        </mat-form-field>

      </ng-container>
    }

  </div>

</app-business-object-dialog-shell>
