<div class="page-header">

  <div class="page-title">Mes Items</div>

  <div *ngIf="item$ | async as item">
    <app-item-infos [item]="item"/>
  </div>

  <span class="actions-spacer"></span>

  <div>
    <app-back-button/>
  </div>

</div>

<div class="user-item-buttons">
  <button mat-raised-button class="user-item-button" (click)="openCreateDialog()">
    <mat-icon>add</mat-icon>
    Ajouter un item
  </button>

  <span class="actions-spacer"></span>

  <button mat-raised-button
  *ngIf="item$ | async as item"
  class="user-item-button"
          [routerLink]="['/items', item.id, 'price-histories']">
    <mat-icon>show_chart</mat-icon>
    Historique CM
  </button>
  
  <a mat-raised-button 
  *ngIf="item$ | async as item"
  class="user-item-button"
  href="{{item.url}}" target="_blank">
    <mat-icon>open_in_new</mat-icon>
    Lien CM
  </a>
</div>



<div *ngIf="userItems$ | async as userItems" class="cards-grid">
  <div *ngFor="let userItem of userItems">
    <app-user-item-card 
      [userItem]="userItem" 
      (edit)="onEdit($event.userItemId, $event.editUserItem)"
      (sell)="onSell($event.userItemId, $event.sellUserItem)"
      (open)="onOpen($event.userItemId, $event.openUserItem)"
      (duplicate)="onDuplicate($event)"
      (delete)="onDelete($event)"/>
  </div>
</div>
