<div class="page-header">

  <div class="page-title">Mes Items</div>

  <div *ngIf="item$ | async as item">
    <app-item-infos [item]="item"/>
  </div>
  
  <span class="flex-spacer"></span>
  
  <div>
    <app-back-button/>
  </div>
  
</div>

<div class="item-infos">
  
  <app-user-items-infos
    *ngIf="item$ | async as item" 
    class="item-info"
    [item]="item"
    [userItemsCount]="userItemsCount$ | async"
    [inStockUserItemsCount]="inStockUserItemsCount$ | async"
    [openedUserItemsCount]="openedUserItemsCount$ | async"
    [soldUserItemsCount]="soldUserItemsCount$ | async"
    [showMyItemsButton]="false"
  />

  <app-item-cardmarket-infos 
    *ngIf="lastPriceHistory$ | async as lastPriceHistory"
    class="item-info" 
    [itemPriceHistory]="lastPriceHistory"
    [showHistoryButton]="true"
  />
  
</div>

<div class="user-item-buttons">

  <button mat-raised-button class="user-item-button purchase" (click)="openCreateDialog()">
    <mat-icon>{{ UserItemStatusConfig[UserItemStatus.PURCHASED].icon }}</mat-icon>
    Ajouter un item
  </button>

</div>

<div *ngIf="userItems$ | async as userItems" class="cards-grid">

  <div *ngFor="let userItem of userItems">

    <app-user-item-card 
      [userItem]="userItem" 
      (edit)="onEdit($event.userItemId, $event.editUserItem)"
      (sell)="onSell($event.userItemId, $event.sellUserItem)"
      (open)="onOpen($event.userItemId, $event.openUserItem)"
      (duplicate)="onDuplicate($event)"
      (delete)="onDelete($event)"/>

  </div>

</div>
