<mat-card class="example-card" appearance="outlined" 
[ngClass]="{
    sold: userItem.sellingPrice,
    opened: !userItem.sellingPrice && userItem.sellingOrOpeningDate
  }">
  <mat-card-header>
    <mat-card-title></mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>Prix d'achat : {{userItem.purchasePrice}}</div>
    <div>Date d'achat : {{userItem.purchaseDate | date:'dd/MM/yyyy'}}</div>

    @if (userItem.sellingPrice) {
      <div>
        Prix de vente : {{userItem.sellingPrice}}
      </div>
      <div>
        Date de la vente : {{userItem.sellingOrOpeningDate | date:'dd/MM/yyyy'}}
      </div>
    } @else if (userItem.sellingOrOpeningDate) {
      <div>
        Date d'ouverture : {{userItem.sellingOrOpeningDate | date:'dd/MM/yyyy'}}
      </div>
    }

    <div *ngIf="userItem.comment">{{userItem.comment}}</div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button *ngIf="!userItem.sellingOrOpeningDate" (click)="onSell()">
      <mat-icon color="primary">sell</mat-icon>
      Vendre
    </button>

    <button mat-button *ngIf="!userItem.sellingOrOpeningDate" (click)="onOpen()">
      <mat-icon>lock_open</mat-icon>
      Ouvrir
    </button>

    <button mat-button *ngIf="!userItem.sellingOrOpeningDate" (click)="onDuplicate()">
      <mat-icon>content_copy</mat-icon>
      Dupliquer
    </button>

    <button mat-button color="warn" (click)="onDelete()">
      <mat-icon>delete</mat-icon>
      Supprimer
    </button>
  </mat-card-actions>
</mat-card>

