mat-card-content div {
  margin-bottom: 4px;
  font-size: 0.9rem;
}

mat-card-content div:last-child {
  margin-bottom: 0;
}

mat-card.sold {
  border-left: 5px solid #22c55e;
}

mat-card.opened {
  border-left: 5px solid #f59e0b;
}

mat-card:not(.sold):not(.opened) {
  border-left: 5px solid #38bdf8;
}

