<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title></mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>Prix d'achat : {{userItem.purchasePrice}}</div>
    <div>Date d'achat : {{userItem.purchaseDate}}</div>

    @if (userItem.sellingPrice) {
      <div>
        Prix de vente : {{userItem.sellingPrice}}
      </div>
      <div>
        Date de vente : {{userItem.sellingOrOpeningDate}}
      </div>
    } @else if (userItem.sellingOrOpeningDate) {
      <div>
        Date d'ouverture : {{userItem.sellingOrOpeningDate}}
      </div>
    }

    <div *ngIf="userItem.comment">{{userItem.comment}}</div>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="!userItem.sellingOrOpeningDate" (click)="onSell()">Vendre</button>
    <button *ngIf="!userItem.sellingOrOpeningDate" (click)="onOpen()">Ouvrir</button>
    <button (click)="onDelete()">Supprimer</button>
  </mat-card-actions>
</mat-card>

