.full-width {
  width: 100%;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

mat-dialog-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 8px;
}

.dialog-header {
  margin-left: 16px;
}
