<div class="page-header">
  <div>
    <h2>Mes Items</h2>
    
    <div *ngIf="item$ | async as item">
      {{item.game.name}} - {{item.itemType.name}} {{item.expansion.name}}
      {{item.complement}} ({{item.locale.name}})
    </div>
  </div>

  <button mat-stroked-button class="back-button" (click)="retour()">
    <mat-icon>arrow_back</mat-icon>
    Retour
  </button>
</div>

<div class="add-item">
  <button mat-stroked-button class="add-item-button" (click)="openCreateDialog()">
    <mat-icon>add</mat-icon>
    Ajouter un item
  </button>
</div>

<div *ngIf="userItems$ | async as userItems" class="cards-grid">
  <div *ngFor="let userItem of userItems">
    <app-user-item-card 
    [userItem]="userItem" 
    (sell)="onSell($event.userItemId, $event.sellUserItem)"
    (open)="onOpen($event.userItemId, $event.openUserItem)"
    (duplicate)="onDuplicate($event)"
    (delete)="onDelete($event)"/>
  </div>
</div>

