<div 
*ngIf="userItemsCount !== null && currentUserItemsCount !== null" 
class="user-items-info-compact"
>
    <!-- Info principale -->
    <div class="user-items-info">
        <span class="user-items-count">
            {{ currentUserItemsCount }}
        </span>

        <span class="user-items-count-label">
            @if(currentUserItemsCount > 1) {
                exemplaires
            }
            @else {
                exemplaire
            }
             actuellement dans ma collection (sur {{ userItemsCount }}) 
        </span>
    </div>

    <!-- Actions -->
    <div class="user-items-actions">

        <button
            mat-button
            [routerLink]="['/items', item.id, 'user-items']">
            <mat-icon>collections</mat-icon>
            Voir ma collection
        </button>

    </div>

</div>
