<div class="page-header">

  <div class="page-title">Historique des prix</div>

  <div *ngIf="item$ | async as item">
    <app-item-infos [item]="item"/>
  </div>

  <span class="flex-spacer"></span>

  <div>
    <app-back-button/>
  </div>

</div>

<div class="item-infos">
  <app-item-cardmarket-infos 
    *ngIf="lastPriceHistory$ | async as lastPriceHistory"
    class="cm-infos" 
    [itemPriceHistory]="lastPriceHistory"
    [showHistoryButton]="false"
  />

  <app-user-items-infos
    *ngIf="item$ | async as item" 
    class="ui-infos"
    [item]="item"
    [userItemsCount]="userItemsCount$ | async"
    [currentUserItemsCount]="currentUserItemsCount$ | async"
  />
</div>

<div class="chart-container">
  <canvas #priceChart></canvas>
</div>
