<div class="page-header">

  <div class="page-title">Historique des prix</div>

  <div *ngIf="item$ | async as item" class="item-info">

    <span class="badge game">{{ item.game.name }}</span>
    <span class="badge item-type">{{ item.itemType.name }}</span>

    <span class="badge expansion" *ngIf="item.expansion.name !== 'Autre'">
      {{ item.expansion.name }}
    </span>

    <span class="badge complement" *ngIf="item.complement">
      {{ item.complement }}
    </span>

    <span class="badge locale">{{ item.locale.name }}</span>

  </div>

  <span class="actions-spacer"></span>

  <div>
    <app-back-button/>
  </div>

</div>

<div class="chart-container">
    <canvas #priceChart></canvas>
</div>
