<div class="page-header">

  <div class="page-title">Historique des prix</div>

  <div *ngIf="item$ | async as item">
    <app-item-infos [item]="item"/>
  </div>

  <span class="flex-spacer"></span>

  <div>
    <app-back-button/>
  </div>

</div>

<div class="item-infos">
  
  <app-user-items-infos
    *ngIf="item$ | async as item" 
    class="item-info"
    [item]="item"
    [userItemsCount]="userItemsCount$ | async"
    [inStockUserItemsCount]="inStockUserItemsCount$ | async"
    [openedUserItemsCount]="openedUserItemsCount$ | async"
    [soldUserItemsCount]="soldUserItemsCount$ | async"
    [showMyItemsButton]="true"
  />

  <app-item-cardmarket-infos 
    *ngIf="lastPriceHistory$ | async as lastPriceHistory"
    class="item-info" 
    [itemPriceHistory]="lastPriceHistory"
    [showHistoryButton]="false"
  />
  
</div>

<div class="chart-container">
  <canvas #priceChart></canvas>
</div>
