<div class="page-header">

  <div class="page-title">Recherche d'items</div>

  <span class="flex-spacer"></span>

  <div>
    <app-back-button/>
  </div>

</div>

<div *ngIf="filters$ | async as filters" class="item-search-filters">
  <app-item-search-filters [filters]="filters" (searchFilters)="onSearch($event)"/>
</div>

<div *ngIf="itemsPage$ | async as itemsPage" class="item-search-results">
  <app-item-search-results
    [itemsPage]="itemsPage"
    (pageChange)="onPageChange($event)"
  />
</div>
