.filters-container {
  background-color: transparent;
  border-radius: 12px;
  padding: 14px;
}

.filters-container .mat-mdc-form-field-focus-overlay {
  background-color: rgba(167, 139, 250, 0.08); /* violet léger */
}

.filters-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 16px;
}

mat-form-field {
  width: 100%;
}

.filters-actions {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}
