<div class="item-info">

  <div class="item-info-line">

    <span class="badge game">{{ item.game.name }}</span>
    <span class="badge item-type">{{ item.itemType.name }}</span>
  
  </div>

  <div class="item-info-line">
  
    <span class="badge expansion" *ngIf="item.expansion.name !== 'Autre'">
      {{ item.expansion.name }}
    </span>

    <span class="badge complement" *ngIf="item.complement">
      {{ item.complement }}
    </span>
    
  </div>

  <div class="item-info-line">

    <span class="badge locale">{{ item.locale.name }}</span>

  </div>

</div>