<mat-card
  class="example-card"
  appearance="outlined"
  [ngClass]="{
    sold: userItem.sellingPrice,
    opened: !userItem.sellingPrice && userItem.sellingOrOpeningDate
  }"
>

  <mat-card-content>

    <app-purchase-event [userItem]="userItem"/>

    @if (userItem.sellingPrice) {
      <app-sell-event [userItem]="userItem"/>
    }
    @else if (userItem.sellingOrOpeningDate) {
      <app-open-event [userItem]="userItem"/>

    }

  </mat-card-content>

  <mat-card-actions class="actions">

    <button
      mat-button
      *ngIf="!userItem.sellingOrOpeningDate"
      (click)="onSell()"
      matTooltip="Vendre"
      class="icon-action sell">
      <mat-icon>sell</mat-icon>
    </button>

    <button
      mat-button
      *ngIf="!userItem.sellingOrOpeningDate"
      (click)="onOpen()"
      matTooltip="Ouvrir"
      class="icon-action open">
      <mat-icon>lock_open</mat-icon>
    </button>
    
    <span class="actions-spacer"></span>

    <button
      mat-button
      *ngIf="!userItem.sellingOrOpeningDate"
      (click)="onEdit()"
      matTooltip="Modifier"
      class="icon-action">
      <mat-icon>edit</mat-icon>
    </button>

    <button
      mat-button
      *ngIf="!userItem.sellingOrOpeningDate"
      (click)="onDuplicate()"
      matTooltip="Dupliquer"
      class="icon-action">
      <mat-icon>content_copy</mat-icon>
    </button>
    
    <button
      mat-button
      (click)="onDelete()"
      matTooltip="Supprimer"
      class="icon-action">
      <mat-icon>delete</mat-icon>
    </button>

  </mat-card-actions>

</mat-card>

