.game-card {
  cursor: pointer;
  overflow: hidden; /* important pour le crop */
}

.game-card img[mat-card-image] {
  height: 300px;        /* hauteur uniforme */
  object-fit: contain;
  width: 100%;
  margin: 0;            /* supprime le margin Material par défaut */
}
