/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

:root {
  /* États */
  --color-purchase: #38bdf8;
  --color-sell: #22c55e;
  --color-open: #f59e0b;
  --color-danger: #c92929;

  /* Texte */
  --color-text-muted: #475569;
  --color-text-main: #0f172a;

  /* Surfaces */
  --color-card-bg: #f8fafc;

  --color-icon-basic: #3d3d3d;
}

/* Background global */
body {
  margin: 0;
  background: linear-gradient(
    180deg,
    #f1f5f9 0%,
    #e2e8f0 100%
  );
  color: #0f172a;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Séparation visuelle */
.flex-spacer {
  flex: 1;
}
