<h3>Ajouter un item</h3>

<form (ngSubmit)="submit()">

  <div>
    <label>Prix d'achat</label><br>
    <input type="number" [(ngModel)]="form.purchasePrice" name="price" required>
  </div>

  <div>
    <label>Date d'achat</label><br>
    <input type="date" [(ngModel)]="form.purchaseDate" name="date" required>
  </div>

  <div>
    <label>Commentaire</label><br>
    <textarea [(ngModel)]="form.comment" name="comment"></textarea>
  </div>

  <button type="submit">Créer</button>
  <button type="button" (click)="cancel()">Annuler</button>

</form>
